.login{
    background-color: #EFEFEF;
    height: 400px;
    padding: 80px;
    text-align: center;
    
}

.login label{
    margin-right: 80px;
}
.login table{
    border-spacing: 1em;
    border-collapse: separate;
    
    
}
input#btn{
    width: 148px;
    height: 30px;
    background-color: #A21815;
    color: white;
    cursor: pointer;
}
input#btn:hover{
    background-color: #BA2229;
    color: white;
}
a{
    text-decoration: none;
}
.error{
    color: red;
}