.wrap{
    background-image: url(../images/Snap_to_Grid_BlackNeon_Confetti_Yardage.jpg);
   
}
/*first-nav*/
.nav{
    height: 50px;
    background-color: #A21815;
    color: white;
    padding: 10px 0 0 10px;
    
}

.nav-right ul{
    margin-top: 10px;
    text-align: right;
    list-style: none;
    
}
.nav-right ul li{
    display: inline-block;
}
.nav a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
    
}
.nav-right a:hover ,.nav-right .active{
    color: #EFEFEF;
    border-right: 2px solid #EFEFEF;
    
    
}
.nav-right i{
    margin-right: 10px;
}

/*second nav*/
.second-nav{
    background-color: white;
    height: 50px;
    width: 100%;
}
.second-nav ul{
    list-style: none;
    margin-top: 10px;
    margin-left: -22px;
}
.second-nav ul li{
    display: inline-block;
}
.second-nav a{
    text-decoration: none;
    color: #BA2229;    
    padding: 10px 30px;
    
}
.second-nav a:hover{
    background-color: #A21815;
    color: white;
}
.second-nav .active{
    background-color: #A21815;
    color: white;
}

/*slider*/

.slider{
    height: 600px;
    background-color: #EFEFEF;
}

#content{
	width:850px;
	height:auto;
	margin:0px auto;
	border-radius:3px;
    
}

#gallery_img{
	width:845px;
	height:500px;
	float:left;
	position:relative;
}

#lefty{
	width:23px;
	position:absolute;
	top:235px;
	left:10px;
}

#righty{
	width:23px;
	position:absolute;
	top:235px;
	right:10px;
}

#play, #pause{
	width:12px;
	position:absolute;
	top:239px;
	right:40px;
}

#play{
	display:none;
}

#expand{
	width:18px;
	position:absolute;
	top:478px;
	right:6px;
}

#thumbs{
	height:100px;
	width:845px;
	float:left;
	overflow:auto;
	margin-top:10px;
	white-space:nowrap;
}

.thumbs_style{
	display:inline-block;
}

.thumbs_style img{
	width:105px;
	height:80px;
	border-radius:3px;
	border:3px solid rgba(0,0,0,0.4);
}

.gallery_img_style{
	width:845px;
	height:500px;
	border-radius:3px;
	position:absolute;
}

/*footer*/
.footer{
    text-align: center;
    background-color: #A21815;
    color: white;
    height: 50px;
    
    
    
}
.footer p{
    margin: 0;
    padding-top: 17px;
}
